---
http_interactions:
- request:
    method: post
    uri: https://api.petfinder.com/v2/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials","client_id":"<Petfinder_API_KEY>","client_secret":"<Petfinder_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Remapped-Date:
      - Thu, 24 Apr 2025 21:33:47 GMT
      X-Amzn-Requestid:
      - 3b44e94f-8347-4575-b712-795d01ee68e3
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - JjApWHMTIAMEhRQ=
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJvOEQ0UWI0bXdlaGhZU2pQSmZkbVd5aEUxamxCcm43QkVXSldKMllmbkhCV3hXM2ljcSIsImp0aSI6IjE1ZDVjOGIxMzljMmY4OTJmYmVjNjg5ZWRmZTFmOTgzZjYxOTcyMjQ5NmY0ZTRjYmJhNmI5ZmU1ZTAwZTFmYTM1MDZlNDIxMzI0NWE1MmU3IiwiaWF0IjoxNzQ1NTMwNDI3LCJuYmYiOjE3NDU1MzA0MjcsImV4cCI6MTc0NTUzNDAyNywic3ViIjoiIiwic2NvcGVzIjpbXX0.iWSxPTWnmkyZYf3ZJof-QRxbiCW-4vvEe4cZdHsGGX2yuSwfRE8qkAcymuprq6_4E-4Chz4OFd-EueM_UkZEc1DD8N7S4BO2QNT4HgdLHyrKnao5Bn3KEu7Mf86zHIdwBzc6wlVNH7FTj4ms0IjBFHs0P__VrZqx0o00yiVI2cjV0Fry2aD0bbVcoIX6qq57GfsK9z2Xtj7pGTaL3W6f8IqbEC0AwoRR81lX7WYpd45ZRQUGtzO4Cv-_xZnRdgDUrw6BDBbYk_nGvxAqcsawRuGHIN5ShUhU7vAd1SBNgBQ3JRfkBXUxrztP5eGxKOQyBUn_0rvKs4Ti_3vfwC32pg"}'
  recorded_at: Thu, 24 Apr 2025 21:33:47 GMT
- request:
    method: get
    uri: https://api.petfinder.com/v2/animals?breed&location=07097&type=Cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJvOEQ0UWI0bXdlaGhZU2pQSmZkbVd5aEUxamxCcm43QkVXSldKMllmbkhCV3hXM2ljcSIsImp0aSI6IjE1ZDVjOGIxMzljMmY4OTJmYmVjNjg5ZWRmZTFmOTgzZjYxOTcyMjQ5NmY0ZTRjYmJhNmI5ZmU1ZTAwZTFmYTM1MDZlNDIxMzI0NWE1MmU3IiwiaWF0IjoxNzQ1NTMwNDI3LCJuYmYiOjE3NDU1MzA0MjcsImV4cCI6MTc0NTUzNDAyNywic3ViIjoiIiwic2NvcGVzIjpbXX0.iWSxPTWnmkyZYf3ZJof-QRxbiCW-4vvEe4cZdHsGGX2yuSwfRE8qkAcymuprq6_4E-4Chz4OFd-EueM_UkZEc1DD8N7S4BO2QNT4HgdLHyrKnao5Bn3KEu7Mf86zHIdwBzc6wlVNH7FTj4ms0IjBFHs0P__VrZqx0o00yiVI2cjV0Fry2aD0bbVcoIX6qq57GfsK9z2Xtj7pGTaL3W6f8IqbEC0AwoRR81lX7WYpd45ZRQUGtzO4Cv-_xZnRdgDUrw6BDBbYk_nGvxAqcsawRuGHIN5ShUhU7vAd1SBNgBQ3JRfkBXUxrztP5eGxKOQyBUn_0rvKs4Ti_3vfwC32pg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Date:
      - Thu, 24 Apr 2025 21:33:48 GMT
      X-Amzn-Requestid:
      - 4f8a5542-9f78-43d2-98d3-e7cf45f888f8
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - JjApZGujIAMEj9A=
    body:
      encoding: UTF-8
      string: '{"animals":[{"id":76143818,"organization_id":"NY765","url":"https:\/\/www.petfinder.com\/cat\/bryonia-bristol-76143818\/ny\/brooklyn\/brooklyn-bridge-animal-welfare-coalition-ny765\/?referrer_id=2477323c-23f4-4e59-ae53-996493fa074e\u0026utm_source=api\u0026utm_medium=partnership\u0026utm_content=2477323c-23f4-4e59-ae53-996493fa074e","type":"Cat","species":"Cat","breeds":{"primary":"Domestic
        Short Hair","secondary":null,"mixed":false,"unknown":false},"colors":{"primary":null,"secondary":null,"tertiary":null},"age":"Adult","gender":"Female","size":"Medium","coat":null,"attributes":{"spayed_neutered":true,"house_trained":true,"declawed":false,"special_needs":false,"shots_current":false},"environment":{"children":null,"dogs":null,"cats":true},"tags":[],"name":"Bryonia
        Bristol","description":"Bryonia Bristol is a special gal. She can be sweet
        when she wants to be, but mostly prefers to just...","organization_animal_id":"21454278","photos":[{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/1\/?bust=1745529535\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/1\/?bust=1745529535\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/1\/?bust=1745529535\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/1\/?bust=1745529535"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/2\/?bust=1745529539\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/2\/?bust=1745529539\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/2\/?bust=1745529539\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/2\/?bust=1745529539"},{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/3\/?bust=1745529537\u0026width=100","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/3\/?bust=1745529537\u0026width=300","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/3\/?bust=1745529537\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/3\/?bust=1745529537"}],"primary_photo_cropped":{"small":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/1\/?bust=1745529535\u0026width=300","medium":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/1\/?bust=1745529535\u0026width=450","large":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/1\/?bust=1745529535\u0026width=600","full":"https:\/\/dl5zpyw5k3jeb.cloudfront.net\/photos\/pets\/76143818\/1\/?bust=1745529535"},"videos":[],"status":"adoptable","status_changed_at":"2025-04-24T21:14:46+0000","published_at":"2025-04-24T21:14:44+0000","distance":5.2349,"contact":{"email":"adoptions@bbawc.org","phone":null,"address":{"address1":null,"address2":null,"city":"Brooklyn","state":"NY","postcode":"11202","country":"US"}},"_links":{"self":{"href":"\/v2\/animals\/76143818"},"type":{"href":"\/v2\/types\/cat"},"organization":{"href":"\/v2\/organizations\/ny765"}}},{"id":76143820,"organization_id":"NY765","url":"https:\/\/www.petfinder.com\/cat\/ocean-and-number-39s-12-76143820\/ny\/brooklyn\/brooklyn-bridge-animal-welfare-coalition-ny765\/?referrer_id=2477323c-23f4-4e59-ae53-996493fa074e\u0026utm_source=api\u0026utm_medium=partnership\u0026utm_content=2477323c-23f4-4e59-ae53-996493fa074e","type":"Cat","species":"Cat","breeds":{"primary":"Domestic
        Short Hair","secondary":null,"mixed":false,"unknown":false},"c[...]
